@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	header
		padding-top: 30px
		width: 170px
		left: -110px
	.logo_wrapper
		margin-bottom: 20px
		.logo_sm
			top: 31px
		span
			height: 35px
			background: 
				size: contain
			margin-left: 4px
	.site_nav
		font-size: 18px
	.nav_wrapper
		margin-bottom: 30px
	.social_nav
		li
			a
				padding:
					top: 8px
					bottom: 4px
			span
				top: 8px
	.follow-us
		font-size: 16px
		margin-bottom: 2px
		transform: translateX(-13px)
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.ipad_wrapper
		.ipad_image 
			right: 0
			width: 50%
	.contact_us
		.form-group
			width: 64%
		input 
			width: 34%
		button
			width: 34%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.landing
		height: auto
		padding-bottom: 20px
	.focused
		font-size: 28px
	.big_btn
		font-size: 24px
	footer
		.locco_wrapper
			margin:
				top: 20px
				bottom: 20px
		.footer_logo
			float: none
			padding: 10px
		.payment_methods
			img
				float: none
		.first_column
			p
				left: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.main-container
		padding:
			right: 0
			left: 0
	.landing
		min-height: auto
		.row
			margin-top: 0
	.about_us
		.cta_wrapper
			margin-top: 40px
	.big_btn
		max-width: 250px
		margin: auto
	.contact_us
		.form-group
			width: 100%
		input 
			width: 100%
		button
			width: 100%
	.review_face
		position: unset
		margin: 0
		padding-top: 40px
		img
			margin: auto
	.review_content
		margin-left: 0
		em
			display: block
			text-align: center
			padding: 0
		strong
			text-align: center
			text-indent: 0
		p 
			text-align: justify
			line-height: 20px
			font-size: 16px
	.social_nav
		text-align: center
		transform: translateX(-50px)
		padding: 10px
		li
			display: inline-block
			padding: 0
			height: 40px
			width: 40px
			span
				display: none
			a 
				width: 40px
				height: 40px
				padding: 25%
				text-align: center
	.site_nav
		text-align: center
	header
		width: 50%
		left: -50%
		overflow: visible
	.logo_wrapper
		span
			transform: translateX(0)
			margin-left: 0
		.logo_sm
			display: none
	.nav_wrapper	
		.toggle_btn
			right: -45px
			top: 23px
			width: 45px
			height: 45px
			span
				margin-top: 16px
				&:before
					top: -8px
				&:after
					top: 8px
		.site_nav
			font-size: 22px
			line-height: 1.5em
	.toggled_header
		left: 0px
		margin-left: 0
		.logo_wrapper
			span
				background-position-x: center
				transform: translateX(0)
		.social_nav
			transform: translateX(0)
		.nav_wrapper
			.toggle_btn
				right: 0
				span 
					background-color: transparent
					&:before
						top: 0
						transform: rotate(45deg)
					&:after
						top: 0
						transform: rotate(-45deg)
			.site_nav
				transform: translateX(0)
		.follow-us
			transform: translateX(0)
			margin: auto
			font-size: 20px
	footer
		margin-top: 60px
		.second_column
			border-left: none
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.focused
		font-size: 23px
		span
			padding: 5px 7px
	.sm_btn
		font-size: 16px
		padding: 7px 15px
	.landing
		.pull-right
			float: none!important
		.big_logo
			margin-top: 20px
	.about_us
		.focused
			margin-bottom: 0
	.for_whom
		p 
			padding: 0 10px
		h3
			font-size: 30px
	.contact_us
		.form-control
			font-size: 20px
	.review_content
		padding: 20px 15px 20px 15px
	header
		width: 100%
		left: -100%
	footer
		margin-top: 30px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 769px)
	header
		overflow: hidden
		&:hover
			left: 0px
			.logo_wrapper
				.logo_sm
					transform: translateX(100px)
				span
					transform: translateX(10px)
			.nav_wrapper
				.toggle_btn
					transform: translateX(100px)
				.site_nav
					transform: translateX(-18px)
			.follow-us
				transform: translateX(20px)


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

