@import "bourbon"
@import "vars"
// W3D)tne@lS8x
// y4sS696kn6~U
// 0ue,#c5Psg~,
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	header
		padding-top: 30px
		width: 170px
		left: -110px
	.logo_wrapper
		margin-bottom: 20px
		.logo_sm
			top: 31px
		span
			height: 35px
			background: 
				size: contain
			margin-left: 4px
	.site_nav
		font-size: 18px
	.nav_wrapper
		margin-bottom: 30px
	.social_nav
		li
			a
				padding:
					top: 8px
					bottom: 4px
			span
				top: 8px
	.follow-us
		font-size: 16px
		margin-bottom: 2px
		transform: translateX(-13px)
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.ipad_wrapper
		.ipad_image 
			right: 0
			width: 50%
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.landing
		height: auto
		padding-bottom: 20px
	.focused
		font-size: 28px
	.big_btn
		font-size: 24px
	.subscribe_me .custom_btn
		width: 100%
	footer 
		margin-top: 60px
		.second_column
			border-left: none
		.locco_wrapper
			margin:
				top: 20px
				bottom: 20px
		.footer_logo
			float: none
			padding: 10px
			background-position: left
			width: 80%
			margin-bottom: 10px
		.methods_wrapper
			float: none
			width: 100%
			text-align: left
			margin-bottom: 10px
			height: auto
		.first_column
			p
				left: 0
		.footer_contact
			margin-left: 0
	.contact_page
		padding-top: 20px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.main-container
		padding:
			left: 0
			right: 0
	.landing
		min-height: auto
		.row
			margin-top: 0
	.about_us
		.cta_wrapper
			margin-top: 40px
	.big_btn
		max-width: 250px
		margin: auto
	.review_face
		position: unset
		margin: 0
		padding-top: 40px
		img
			margin: auto
	.review_content
		margin-left: 0
		em
			display: block
			text-align: center
			padding: 0
		strong
			text-align: center
			text-indent: 0
		p 
			text-align: justify
			line-height: 20px
			font-size: 16px
	.social_nav
		text-align: center
		transform: translateX(-50px)
		padding: 10px
		li
			display: inline-block
			padding: 0
			height: 40px
			width: 40px
			span
				display: none
			a 
				width: 40px
				height: 40px
				padding: 8px 0 0 0 
	.site_nav
		text-align: center
	header
		width: 50%
		left: -50%
		overflow: visible
	.logo_wrapper
		span
			transform: translateX(0)
			margin-left: 0
		.logo_sm
			display: none
	.nav_wrapper	
		.toggle_btn
			right: -45px
			top: 23px
			width: 45px
			height: 45px
			box-shadow: 0 0 2px rgba(0,0,0,0.5)
			span
				margin-top: 16px
				&:before
					top: -8px
				&:after
					top: 8px
		.site_nav
			font-size: 22px
			line-height: 1.5em
	.toggled_header
		left: 0px
		margin-left: 0
		.logo_wrapper
			span
				background-position-x: center
				transform: translateX(0)
		.social_nav
			transform: translateX(0)
		.nav_wrapper
			.toggle_btn
				right: 0
				background-color: rgba(255,204,0, 1)
				box-shadow: 0 0 1px rgba(0,0,0,0.5)
				span 
					background-color: transparent
					&:before
						top: 0
						transform: rotate(45deg)
					&:after
						top: 0
						transform: rotate(-45deg)
			.site_nav
				transform: translateX(0)
		.follow-us
			transform: translateX(0)
			margin: auto
			font-size: 20px
	.preview_text
		h1
			font-size: 24px

		p
			font-size: 18px	
	.subscribe_me
		.caption
			width: 75%
	// .google_map
	// 	width: 105%
	#map
		z-index: 0
		&:before
			content: ""
			display: block
			width: 100%
			height: 100%
			z-index: 1
			position: absolute
			top: 0
			left: 0
			background-color: rgba(0,0,0,.15)
	.contact_page
		padding-top: 20px
		input[type="text"], textarea
			&:focus,&:valid
				~label
					top: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.row_wrapper
		padding-right: 10px
		padding-left: 10px
	.focused
		font-size: 23px
		span
			padding: 5px 7px
	.text_info
		padding: 10px
	.intro_text
		h1
			font-size: 36px
	.sm_btn
		font-size: 16px
		padding: 7px 15px
	.landing
		padding-top: 13px
		.pull-right
			float: none!important
		.big_logo
			margin-top: 20px
		h2
			text-align: center
	.about_us
		padding-top: 10px
		padding-bottom: 30px
		.focused_cta
			margin-bottom: 0
	.for_whom
		padding-top: 10px
		padding-bottom: 30px
		h3
			font-size: 30px
		.text_social
			padding: 0
	.contact_us
		.form-control
			font-size: 20px
		footer
			margin-top: 60px
	.review_content
		padding: 10px 10px 20px
	header
		width: 100%
		left: -100%
	footer
		margin-top: 30px
	.subscribe_me
		.caption
			width: 100%
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 769px)
	.container
		padding-left: 60px
	header
		overflow: hidden
		&:hover
			left: 0px
			.logo_wrapper
				.logo_sm
					transform: translateX(100px)
				span
					transform: translateX(10px)
			.nav_wrapper
				.toggle_btn
					transform: translateX(100px)
				.site_nav
					transform: translateX(-18px)
			.follow-us
				transform: translateX(20px)
	.sitemap_ul_left
		text-align: right
	.sitemap_ul_right
		text-align: left
		padding-left: 0
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.container
		min-height: 500px
	.footer-container
		min-height: auto
	header
		min-height: 600px
	.landing
		min-height: 660px


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

