@import "bourbon"
@import "vars"
@import "fonts"

//Custom styles here
body
	background: #fdfdfd
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	overflow-x: hidden
	font-family: MyriadSetProText, sans-serif
	color: #555
nav 
	list-style-type: none
	li a
		color: #555
		&:hover,&:focus
			cursor: pointer
			color: #000
			text-decoration: none
h1,h2,h3,h4,h5,h6
	font-family: MyriadSetProThin, sans-serif
::selection
	color: #fff
	background-color: #ffcc00
b
	font-family: MyriadSetProThin, sans-serif
	font-weight: normal
	font-style: italic
// ----- HEADER ----- // 
header
	background: #fff
	width: 200px
	padding: 50px 0
	height: 100%
	position: fixed
	top: 0
	left: -140px
	overflow: hidden
	box-shadow: 0 0 50px rgba(0,0,0,0.5)
	transition: all .25s ease-in-out
	z-index: 1010	
.logo_sm
	display: block
	background: url("../image/logo-sm.png") no-repeat
	height: 45px
	width: 37px
	position: absolute
	top: 51px
	right: 13px
	transition: all .25s ease-in-out
	transition-delay: .1s
	h1
		+hide-text
.logo_wrapper
	margin-bottom: 50px
	span
		display: block
		height: 45px
		margin-left: 2px
		background:
			image: url("../image/logo-full-sm.png")
			repeat: no-repeat
		transform: translateX(-50px)
		transition: all .25s ease-in-out
		a
			display: block
			width: 88%
			height: 86%
.nav_wrapper
	text-align: left
	margin-bottom: 50px
	.toggle_btn
		height: 25px
		width: 36px
		padding: 6px
		position: absolute
		right: 13px
		cursor: pointer
		transition: all .25s ease-in-out
		transition-delay: .1s
		box-sizing: border-box
		z-index: 1001
		background-color: rgba(255, 204, 0, .65)
		span
			display: block
			position: relative		
			transition: all .25s ease-in-out
			transition-delay: .1s
			background-color: #555
			height: 1px
			width: 100%
			margin-top: 6px
			&:before
				content: ''
				background-color: #555
				position: absolute
				height: 1px
				width: 100%
				top: -6px
			&:after
				content: ''
				background-color: #555
				position: absolute
				height: 1px
				width: 100%
				top: 6px
.site_nav
	font-family: MyriadSetProThin, sans-serif
	font-size: 20px
	line-height: 1.8em
	text-align: right
	transform: translateX(-60px)
	transition: all .25s ease-in-out
	transition-delay: .1s
	li a	
		transition: all .25s ease-in-out
		border-bottom: 1px solid transparent
		&:hover,&:focus,&:active
			border-bottom: 1px solid #fc0
.follow-us
	display: block
	font-size: 18px
	margin-bottom: 14px
	line-height: 1.1em
	font-family: MyriadSetProThin, sans-serif
	font-style: italic
	color: #999
	border-bottom: 1px solid #fc0
	transition: all .25s ease-in-out
	transition-delay: .1s
	width: fit-content
.social_nav_wrapper
	position: absolute
	width: 100%
	bottom: 20px
.social_nav
	text-align: right
	.fa
		color: #9e9e9e
		font-size: 24px
		transition: all .25s ease-in-out
	li
		transition: all .25s ease-in-out
		padding: 2px 0
		position: relative
		a
			display: block
			padding: 8px 20px
		span
			position: absolute
			left: 20px
			color: #fff
			top: 12px
		&:hover, &:focus, &:active
			.fa
				color: #fff
.fb_link
	&:hover, &:focus, &:active
		background-color: #3b5999
.vk_link
	&:hover, &:focus, &:active
		background-color: #4c75a3
.ins_link
	&:hover, &:focus, &:active
		background-color: #e4405f
.you_link
	&:hover, &:focus, &:active
		background-color: #cd201f
.tw_link
	&:hover, &:focus, &:active
		background-color: #55acee
.lin_link
	&:hover, &:focus, &:active
		background-color: #0077b5
.gp_link
	&:hover, &:focus, &:active
		background-color: #dd4b39
.tel_link
	&:hover, &:focus, &:active
		background-color: #0088cc

// ----- MAIN BODY ----- //
.breadcrumb
	margin-top: 40px
	background-color: transparent
	li 
		visibility: hidden
		a
			color: #ff9b00
			transition: all .25s ease-in-out
			&:hover,&:focus,&:active
				color: #ff6c00
a
	color: #ff9b00
	font-family: MyriadSetProThin,sans-serif
	transition: all .25s ease-in-out
	&:hover,&:focus,&:active
		color: #ff6c00
		text-decoration: none
		outline: none
.list-group-item
	border: 1px solid #e3e3e3
	&:first-child
		border-top-left-radius: 0
		border-top-right-radius: 0
	&:last-child
		border-bottom-left-radius: 0
		border-bottom-right-radius: 0
	&:hover,&:focus
		border-color: rgba(255, 204, 0, .75)
a.list-group-item, button.list-group-item
	&:hover,&:focus
		background-color: #ffcc00
		color: #fff
.panel-default
	border-color: #ffcc00
.panel
	border-radius: 0
legend
	color: #555
	border-bottom: 1px solid #ffcc00
label
	font-weight: 500
.focused
	span
		background-color: rgba(255, 241, 185, .35)
.text-danger
	color: #ff681e
.alert
	border-radius: 0
	color: #555
	a
		text-decoration: underline
.alert-success
	box-shadow: 0 1px 3px rgba(0,0,0,0.1)
	border: 1px solid rgba(0,0,0,0.1)
	background-color: #f2f2f2
	color: #555
.has-error .form-control
	border-color: rgba(255, 104, 30, 1)
	&:focus
		border-color: rgba(255, 104, 30, 1)
.well
	background-color: #FFF
	border: 1px solid rgba(0,0,0, .1)
	border-radius: 0
	box-shadow: none
.form-control
	border:
		color: rgba(0,0,0,.1)
		radius: 0
	&:focus
		border-color: rgba(255, 204, 0, .5)
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(255, 204, 0, .35)
.main-container
	width: 100vw
	color: #fff
	padding:
		right: 0
		left: 60px
	h1,h2,h3
		font-family: MyriadSetProSemiBold, sans-serif
.row_wrapper
	overflow: hidden
	padding:
		bottom: 60px
		top: 40px
		right: 20px
		left: 20px
	.row
		max-width: 1170px
		margin: 20px auto
.btn
	border-radius: 20px
	padding-left: 16px
	padding-right: 16px
	transition: .15s ease-in-out
.btn-primary
	background-color: #31bfa3
	border-color: rgba(0,0,0,.05)
	&:hover,&:focus,&:active
		border-color: rgba(0,0,0,.1)
		box-shadow: 0 1px 3px rgba(0,0,0,0.1)
		background-color: #36d7b7
		outline: none
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
	outline: none
	border-color: rgba(0,0,0,.25)
	box-shadow: 0 1px 3px rgba(0,0,0,0.15)
	background-color: #36d7b7
.custom_btn
	position: relative
	z-index: 2
	background: #fff
	color: #555
	width: fit-content
	max-width: 350px
	height: 50px
	line-height: 50px
	border-radius: 50px
	display: block
	text-align: center
	margin: 20px auto 0
	font-size: 20px
	cursor: pointer
	outline: none
	border: 1px solid rgba(0,0,0,0.15)
	transition: .15s ease-in-out
	font-family: MyriadSetProThin, sans-serif
	&:hover,&:focus
		text-decoration: none
		outline: none
		color: #000
		border: 1px solid rgba(0,0,0,0.3)
.small_btn
	height: 40px
	line-height: 40px
	padding-left: 20px
	padding-right: 20px
	border: 1px solid rgba(0,0,0,0.3)
	border-radius: 20px
.big_btn
	font-size: 150%
	height: 60px
	line-height: 60px
	padding-left: 30px
	padding-right: 30px
.yellow_btn
	background-color: #ffcc00
	color: #fafafa
	border-color: #ffcc00
	box-shadow: 0 1px 3px rgba(0,0,0,0.05)
	&:hover,&:focus
		box-shadow: 0 1px 3px rgba(0,0,0,0.1)
		border-color: rgba(0,0,0,.1)
		background-color: #ffd400
		color: #fff
.cta_text
	font-size: 22px
	line-height: 1.1
	margin-bottom: 20px
	sub
		font-size: 150%
.num
	font-family: MyriadProBold, sans-serif
	font-size: 48px
	font-weight: bold
.focused
	font-size: 32px
	margin-bottom: 40px
	span, small, mark
		color: #fff
	span
		padding: 8px 10px
	mark
		font-size: 125%
		padding: 0
	small
		font-size: 75%
// --------- FIRST SECTION --------- //
.landing
	height: 70vh
	position: relative
	background-color: #BF55EC
	background: linear-gradient(-45deg, #DB0A5B, #663399);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -10%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		transform: skewY(-5deg) scale(1.5)
	.nav
		margin: 10px
	h2
		text-align: right
	span, small, mark
		background: #3498db  
.iphone_x img 
	width: 85%
	margin: auto
.big_logo
	margin-top: 100px

// --------- SECOND SECTION --------- //
.about_us
	height: fit-content
	position: relative
	background-color: #BF55EC
	background: linear-gradient(-45deg, #DCC6E0, #AEA8D3);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -10%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		transform: skewY(7deg) scale(1.5)
	.how_to
		background-color: #3498db
		padding: 20px
	h4
		font-size: 22px
		font-family: MyriadSetProSemiBold, sans-serif
	.focused
		z-index: 2
		position: relative
		span, small, mark
			background-color: #3498db // --- blue
	.big_btn
		margin: 0 auto
		width: 75%
.ipad_wrapper
	position: relative
	.ipad_image
		position: absolute
		right: 5%
		top: -15%

// --------- THIRD SECTION --------- //	
.for_whom
	height: fit-content
	position: relative
	background-color: #BF55EC
	background: linear-gradient(-45deg, #36D7B7, #019875);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -10%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		transform: skewY(-9deg) scale(1.5)
	.clients
		text-align: center
		&:hover
			h3
				padding-right: 20px
				padding-left: 20px
			.h-instagram
				border-bottom-color: #e4405f
			.h-facebook
				border-bottom-color: #3b5999
			.h-youtube
				border-bottom-color: #cd201f
			.h-telegram
				border-bottom-color: #0088cc
			.h-twitter
				border-bottom-color: #55acee
			.h-plus
				border-bottom-color: #dd4b39
			.fa-instagram
				color: #e4405f
			.fa-facebook
				color: #3b5999
			.fa-youtube
				color: #cd201f
			.fa-telegram
				color: #0088cc
			.fa-twitter
				color: #55acee
			.fa-plus
				color: #dd4b39
	.focused
	 	span, mark
	 		background-color: #3498db
	small
		color: rgba(255, 255, 255, 0.75)
	sup
		padding: 10px
		margin-right: -10px
	sub
		padding: 10px
		margin-left: -10px
	h3
		margin-top: 0
		padding-bottom: 4px
		font-size: 36px
		font-family: MyriadProBold, sans-serif
		border-bottom: 3px solid rgba(255, 255, 255, .75)
		display: inline-block
		transition: .25s ease-in-out
	p
		padding: 0 50px
		text-align: justify
	i
		font-size: 44px
		margin: 14px 0
		display: inline-block
		width: 100%
		transition: .25s ease-in-out
		transition-delay: .2s

// --------- FOURTH SECTION --------- //
.testimonials
	min-height: 500px
	position: relative
	background-color: #BF55EC
	background: linear-gradient(-45deg, #FABE58, #E87E04);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -10%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		transform: skewY(7deg) scale(1.5)
	.focused
		span
			background-color: rgba(26, 188, 156, 1)
		mark
			background-color: transparent
	.owl-carousel
		background-color: transparent
	.owl-theme .owl-dots .owl-dot
		span
			background: rgba(26, 188, 156, .35)
			width: 13px
			height: 13px
			transition: all .25s ease-in-out
			margin: 5px 5px
			&:hover
				background: rgba(26, 188, 156, 1)
	.owl-theme .owl-dots .owl-dot.active span
		background: rgba(26, 188, 156, 1)
.review_unit
	background-color: rgba(26, 188, 156, 1)
	position: relative
.review_face
	position: absolute
	top: 50%
	margin-top: -75px
	left: 30px
	img
		max-width: 150px
		border: 3px solid #fff
		border-radius: 50%
.review_content
	font-size: 18px
	line-height: 26px
	min-height: 230px
	padding: 30px
	margin-left: 180px
	strong
		display: block
		text-transform: uppercase
		font-family: MyriadSetProSemiBold, sans-serif
		text-indent: 20px
	em 
		padding-left: 20px
		font-family: MyriadSetProThin, sans-serif
	p
		font-family: MyriadSetProThin, sans-serif
		margin-top: 10px
		text-indent: 20px

// --------- FIFTH SECTION --------- //	
.contact_us
	padding-bottom: 20px
	position: relative
	background-color: #BF55EC
	background: linear-gradient(-45deg, #C8F7C5, #6C7A89);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		display: block
		bottom: -10%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		transform: skewY(-10deg) scale(1.5)
	.google_map
		height: 600px
		width: 97vw
		position: absolute
		top: 0
		left: 0
	.ask_us_form
		height: 500px
		background-color: rgba(255, 204, 0, .55)
		padding: 10px 30px
	.focused
		font-family: MyriadSetProThin, sans-serif
		font-size: 28px
		span
			background: rgba(255, 204, 0, .75)
	form
		div
			position: relative
			z-index: 99
	.form-group
		z-index: 100
		textarea
			min-height: 200px
			background-color: transparent
			resize: none
	input
		margin-bottom: 20px
		height: 50px
	label
		font-family: MyriadSetProThin, sans-serif
		font-size: 20px
		position: absolute 
		top: 13px
		padding-left: 13px
		pointer-events: none
		transition: .25s ease-in-out
	.form-control
		background-color: transparent
		border-color: #fff
		border-top: none
		border-right: none
		border-left: none
		box-shadow: none
		transition: .25s ease-in-out
		height: 45px
		padding-top: 20px
		font-size: 18px
		color: #fff
		font-family: MyriadSetProThin, sans-serif
		&:focus,&:valid 
			background-color: rgba(255, 204, 0, .75)
			box-shadow: none
			~ label
				top: 2px
				font-size: 16px
				padding-left: 12px
				color: rgba(255, 255, 255, 0.85)
		&:hover
			background-color: rgba(255, 204, 0, .75)
	.textarea
		border-top: 1px solid #fff
		textarea
			&:focus,&:valid 
				~ label
					top: 5px
footer
	margin-top: 100px
	p 
		font-family: MyriadSetProThin, sans-serif
	li 
		list-style: none
		font-family: MyriadSetProThin, sans-serif
		a
			color: #9e9e9e		
			transition: all .25s ease-in-out
			&:hover,&:active,&:focus
				color: #ff9b00
				text-decoration: none
	ul 
		padding-left: 0
	.footer_logo
		display: block		
		float: left
		width: 50%
		max-width: 190px
		margin-right: 10px
		height: 42px
		background:
			image: url("../image/strokes-sm-gr.png")
			repeat: no-repeat
			size: contain
	.payment_methods
		clear: both
	.methods_wrapper
		width: 50%
		max-width: 190px
		float: left
		text-align: center
		margin-right: 10px
		height: 60px
		img
			display: inline-block
			padding: 0 7px
	.first_column
		p
			font-size: 14px
			color: #9e9e9e	
	.second_column
		border-left: 1px solid rgba(255, 204, 0, 1)
.locco_wrapper
	margin:
		top: 10px
		bottom: 40px
.footer_contact
	margin:
		left: 200px
		bottom: 0
.footer-title
	font-size: 110%
	line-height: 20px
	padding: 0 6px
	margin-left: -5px
	display: inline-block
	margin-bottom: 10px
	color: #fff
	background-color: #ffcc00
.first-title
	margin-bottom: 3px
.copyright
	color: #9e9e9e
	font-size: 14px
	margin-top: 40px
.footer-email
	font-size: 200%
	a
		&:hover
			text-decoration: none
			color: #ff9b00
.contact_us
	footer
		li
			a
				color: #fff
				&:hover,&:active,&:focus
					color: #ff9b00
		.footer-email
			a
				&:hover
					color: #ff9b00
		.first_column
			p
				color: #fff
		.footer_logo
			background-image: url("../image/strokes-sm.png")
		.copyright
			color: #fff
.scroll_btn
	display: block
	background-color: rgba(255, 204, 0, .65)
	text-align: center
	position: fixed
	bottom: -10%
	box-shadow: 0 0 2px rgba(0,0,0,0.2)
	right: 0
	color: #ededed
	transition: all .5s ease-in-out
	z-index: 1005
	opacity: 0
	cursor: pointer
	width: 45px
	height: 45px
	&:after
		content: ''
		width: 30%
		height: 30%
		border:
			top: 1px solid #555
			right: 1px solid #555
		display: block
		position: relative
		top: 45%
		margin: auto
		transform: rotate(-45deg)
		transition: border-color .25s ease-in-out
	&:hover,&:focus
		background-color: rgba(255, 204, 0, 1)
		box-shadow: 0 0 1px rgba(0,0,0,0.4)
		outline: none
.active_scroll
	bottom: 23px
	opacity: 1



// ----- MAIN BLOG PAGE ----- //

.bloggo
	position: relative
	margin-bottom: 60px
	border: 1px solid #eee
	box-sizing: border-box
	min-height: 360px
	box-shadow: 0 3px 3px rgba(0,0,0,0.1)
	transition: all .3s ease-in-out
	overflow: hidden
	&:hover
		box-shadow: 0 3px 5px rgba(0,0,0,0.2)
	.image
		position: absolute
		width: 100%
		height: 200px
		// z-index: -100
		a
			display: block
			background:
				size: cover
				position: center
			height: 100%
			width: 100%
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			// z-index: -99
			background: linear-gradient(-45deg, #2ECC71, #019875);
			opacity: .65
			top: 0
			left: 0		
		&:before
			content: ''
			position: absolute
			bottom: -20%
			left: 0
			width: 100%
			height: 40%
			background: rgba(255,255,255, .3)
			// z-index: -98
			transform: skewY(-5deg) scale(2) 
	.caption
		position: relative
		padding: 20px 20px 0
		h4
			margin: 0
			padding: 0
			height: 190px
			text-indent: 16px
			line-height: 1.3
			a
				font-family: MyriadSetProSemiBold, sans-serif
				color: #fff
				font-size: 22px
				&:hover
					color: #ffcc00		
		p 
			text-align: justify
			font-family: MyriadSetProThin, sans-serif
			margin-bottom: 0
			line-height: 1.3
			color: #9e9e9e
	.button_wrapper
		background-color: #f8f9f9
		width: 100%
		position: absolute
		bottom: 6px
		left: 0
		padding: 4px 10px
		&:after
			display: block
			content: ""
			height: 30px
			width: 100%
			position: absolute
			top: -30px
			left: 0
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.65) 30%, rgba(255,255,255, 1) 100%) 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
		a
			margin: 0 5px
		button
			border: none
			background-color: transparent
			box-shadow: none
			margin: 0px
			.fa
				color: rgba(0, 0, 0, 0.3)

			&:focus
				outline: none
	.post_date
		color: rgba(0, 0, 0, 0.3) 
.category_bg
	height: 60vh
	width: 100vw
	position: absolute
	z-index: -100
	background-color: #2ECC71
	background: linear-gradient(-45deg, #2ECC71, #019875);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		bottom: -20%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		z-index: 1
		transform: skewY(-5deg) scale(2)

.blog_categories
	margin: 20px 0 40px
	li
		padding: 0 10px 
		a
			font-size: 18px
			color: #9e9e9e
			text-transform: uppercase
			border-bottom: 1px solid #fc0
			margin: 0 6px
			&:hover,&:active
				color: #ff9b00
				border-bottom: 1px solid #ff9b00
				margin: 0
				padding: 0 6px
.pagination
	li
		a
			color: #9e9e9e
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
	background-color: #ff9b00
	border-color: #ff9b00
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover
	background-color: #ffcc00
	border-color: #ff9b00
	color: #fff
.pagination > li:first-child > a, .pagination > li:first-child > span
	border-top-left-radius: 0
	border-bottom-left-radius: 0
.pagination > li:last-child > a, .pagination > li:last-child > span
	border-top-right-radius: 0
	border-bottom-right-radius: 0
.pages_result
	font-family: MyriadSetProThin, sans-serif
	color: #9e9e9e
	font-size: 14px


// ----- ARTICLE PAGES ----- //

.image-additional
	max-width: 100px
	max-height: 100px
.article_bg
	height: 60vh
	width: 100vw
	position: absolute
	z-index: -100
	background:
		size: cover
		position: center
	top: 0
	left: 0
	overflow: hidden
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		z-index: 1
		background: linear-gradient(-45deg, #2ECC71, #019875);
		opacity: .65
		top: 0
		left: 0		
	&:before
		content: ''
		position: absolute
		bottom: -20%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .3)
		z-index: 1
		transform: skewY(-5deg) scale(2)
.preview_text
	margin-top: 15vh
	height: 50vh
	color: #fff
	h1
		font:
			family: MyriadProBold, sans-serif
			size: 48px
	p
		background-color: rgba(255, 241, 185, .35)
		font-family: MyriadSetProSemiBold, sans-serif
		font-style: italic
		font-size: 22px
		padding: 10px
		line-height: 1.2;
		text-align: justify
.article_itself
	text-align: justify
.article_tags
	color: #ccc
	font-family: MyriadSetProThin, sans-serif
	text-transform: lowercase
	a
		margin: 0 4px
		padding: 2px 12px 
		border: 1px solid #ededed
		border-radius: 20px 
		color: #ccc
		&:hover
			background: #ededed


// SUBSCRIBTION PLANS //
.subscribe_bg
	height: 60vh
	width: 100vw
	position: absolute
	z-index: -100
	background-color: #BF55EC
	background: linear-gradient(-45deg, #F62459, #9A12B3);
	top: 0
	left: 0
	overflow: hidden
	&:before
		content: ''
		position: absolute
		bottom: -20%
		left: 0
		width: 100%
		height: 40%
		background: rgba(255,255,255, .1)
		z-index: 1
		transform: skewY(-5deg) scale(2)
.intro_text
	margin: 40px 0
	color: #555
	h1
		margin-bottom: 40px
		font-size: 44px
		span
			padding: 7px 14px
			border-top: 2px solid rgba(0,0,0,0.1)
			border-bottom: 2px solid rgba(0,0,0,0.1)
.subscribe_me
	margin: 40px 0 20px
	.caption
		position: relative
		color: rgba(0,0,0, .5)
		height: auto
		background: #fff
		border: 1px solid rgba(0,0,0,0.1)
		border-radius: 0
		margin: 0 auto
		padding: 20px
		box-shadow: 0 1px 3px rgba(0,0,0,0.1)
		transition: .5s ease-in-out
		overflow: hidden
		&:hover
			box-shadow: 0 1px 5px rgba(0,0,0,0.2)
		h4
			position: relative
			margin: 15px 0
			padding: 0
			z-index: 2
			color: rgba(0,0,0, .5)
			font-size: 32px				
		ul
			margin: 0 0 20px
			padding: 0
			list-style: none
			li
				color: rgba(0,0,0, .65)
				margin: 0 0 10px
				padding: 0
				font-size: 20px
				line-height: 20px
				font-family: MyriadSetProThin, sans-serif
		.fa-check
			color: #37E388
	.custom_btn
		width: 75%
.subscribe_image
	margin: 0 auto
	width: 128px
	height: 128px
	padding: 30px
	border-radius: 50%
	box-shadow: 0 3px 3px rgba(0,0,0,0.15)
.price
	position: relative
	z-index: 2
	color: #555
	font-size: 54px
	font-family: MyriadProBold
	span
		margin: 0
		padding: 20px 0
		color: #555
		font-size: 44px
		padding: 0
	.price-new
		position: absolute
		font-size: 54px
		top: -20px
		color: #fff
		padding: 0 5px
		text-shadow: 0 10px 10px rgba(0,0,0, .25)
		background-color: rgba(255, 204, 0, .75)
		text-align: center
		line-height: 1
		margin-left: -13px
		transform: rotate(-5deg)
	.price-old
		text-decoration: line-through
		text-decoration-color: #ff681e
// SUBSCRIBTION PLAN PAGE
.details_wrapper
	box-shadow: 0 1px 3px rgba(0,0,0,0.1)
	border: 1px solid rgba(0,0,0,0.1)
	padding: 30px 0 10px
	margin-bottom: 40px
	background-color: #fff
	.subscribe_image
		width: 200px
		height: 200px
		padding: 40px
		margin: 10px auto 40px
	.subscribe_price		
		span
			font-size: 52px
		.price-new
			font-size: 60px
			top: -30px
			margin-left: -18px
.custom_table
	margin: 0
	tbody+tbody
		border: none
		margin-bottom: 10px
	>tbody
		>tr
			margin-bottom: 10px
			border-bottom: 1px solid #fff
			>td
				margin-bottom: 10px
				color: rgba(0,0,0,.5)
				padding: 10px 10px 8px
				border: none
				background-color: #f2f2f2
			>.td-price-new-heading
				color: #ff681e
				font-size: 20px
			>.td-price-new
				font-family: MyriadProBold,sans-serif
				font-size: 32px
				color: #ffcc00
				padding-top: 0
				line-height: 1.3
				.fa
					top: 6px
		>.secondary_tr>td
			border: none
			color: rgba(0, 0, 0, .35)
.specification
	margin-bottom: 20px
	h4
		margin-top: 0
		font-size: 22px
		text-indent: 10px
	.fa
		left: -33px
		top: 4px
		position: absolute
.fa_cicrled
	color: #fff
	font-size: 20px
	border-radius: 50%
	background-color: #37E388
	padding: 5px 5px
.fa_relative
	position: relative
.product
	#accordion
		margin-top: 20px
	.card
		.text-danger
			margin: 1%
		.card-header
			background-color: #f2f2f2
			border-bottom: 1px solid rgba(0,0,0,.1)
			margin-bottom: 10px
			margin-top: -10px
			label
				font-size: 22px
				width: 100%
				padding: 4px 4px 0 4px	
				margin-bottom: 2px	
				a
					color: rgba(0,0,0,.7)
					position: relative
					display: block
					width: 100%
					&:after
						content: ''
						display: block
						position: absolute
						height: 1px
						right: 0
						top: 13px
						width: 16px
						transform: rotate(45deg)
						background-color: rgba(0,0,0,.8)
						transition: .15s ease-in-out
					&:before
						content: ''
						position: absolute
						display: block
						height: 1px			
						top: 13px
						right: 0
						width: 16px
						transform: rotate(-45deg)
						background-color: rgba(0,0,0,.8)
						transition: .15s ease-in-out
					&[aria-expanded="false"]
						color: rgba(0,0,0,.5)
						&:after
							transform: rotate(90deg)
							background-color: rgba(0,0,0,.5)
						&:before
							transform: rotate(0)
							background-color: rgba(0,0,0,.5)
		textarea
			resize: vertical
			min-height: 100px
		input, textarea, select
			color: rgba(0,0,0,.3)
			font-size: 16px
			font-family: MyriadSetProThin, sans-serif
			&:focus
				color: rgba(0,0,0,.9)
	.form-control
		width: 98%
		margin-left: 1%
	.custom_btn
		font-size: 150%
		width: 75%

// CONTACT PAGE
.contact_page_map
	height: 660px
	width: 100%
	top: 0
	left: 0
	position: absolute
.contact_page
	height: 65vh
	padding-top: 5vh
	color: #fff
	font-family: MyriadSetProThin, sans-serif
	#content
		background-color: rgba(255, 204, 0, .55)
		h1
			font-size: 28px
			color: #ffffff
			span
				background-color: rgba(255, 204, 0, .75)
				padding: 4px 13px
	form
		padding: 10px 30px
	.form-group
		position: relative
	input[type="text"]
		background-color: transparent
		border-color: #fff
		border-top: none
		border-right: none
		border-left: none
		box-shadow: none
		transition: .25s ease-in-out
		height: 45px
		padding-top: 20px
		font-size: 18px
		color: #fff
		&:hover
			background-color: rgba(255, 204, 0, .75)
		&:focus,&:valid
			box-shadow: none
			background-color: rgba(255, 204, 0, .75)
			padding-top: 26px
			~ label
				top: -3px
				font-size: 15px
				color: rgba(255, 255, 255, 0.85)
	textarea
		background-color: transparent
		border-color: #fff
		resize: none		
		border-left: none
		border-right: none
		box-shadow: none
		transition: .25s ease-in-out
		padding-top: 20px
		font-size: 18px
		color: #fff
		&:hover
			background-color: rgba(255, 204, 0, .75)
		&:focus,&:valid
			box-shadow: none
			background-color: rgba(255, 204, 0, .75)
			~ label
				top: -3px
				font-size: 15px
				color: rgba(255, 255, 255, 0.85)
	label
		position: absolute
		top: 14px
		left: 12px
		transition: .25s ease-in-out
	.textarea
		margin-top: 30px
		label
			top: 0px
		.text-danger
			position: static
			padding-left: 12px
			padding-top: 4px
	.buttons
		height: 50px
	.text-danger
		font-size: 16px
		position: absolute
		top: 48px
		left: 12px
@import "media"
