@import "bourbon"
@import "vars"
@import "fonts"

//Custom styles here
body
	background: #ededed
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden
	font-family: MyriadSetProText, sans-serif

nav 
	list-style-type: none
	li a
		color: #555
		&:hover,&:focus
			cursor: pointer
			color: #000
			text-decoration: none

header
	background: #fff
	width: 200px
	padding: 50px 0
	height: 100vh
	position: fixed
	top: 0
	left: -140px
	overflow: hidden
	box-shadow: 0 0 50px rgba(0,0,0,0.25)
	transition: all .25s ease-in-out
	z-index: 10000
	&:hover
		left: 0px
		.logo_wrapper
			.logo_sm
				transform: translateX(100px)
			span
				transform: translateX(10px)
		.nav_wrapper
			span
				transform: translateX(100px)
			.site_nav
				transform: translateX(-18px)

.logo_sm
	display: block
	background: url("../image/logo.png") no-repeat
	height: 45px
	width: 37px
	position: absolute
	top: 51px
	right: 15px
	transition: all .25s ease-in-out
	transition-delay: .1s
.logo_wrapper
	margin-bottom: 50px
	span
		display: block
		height: 45px
		background: url("../image/logo-full-sm.png") no-repeat
		transform: translateX(-50px)
		transition: all .25s ease-in-out
.nav_wrapper
	text-align: left
	margin-bottom: 10vh
	span
		display: block
		position: absolute
		right: 20px
		transition: all .25s ease-in-out
		transition-delay: .1s
		background-color: #555
		height: 1px
		width: 24px
		margin-top: 16px
		&:before
			content: ''
			background-color: #555
			position: absolute
			height: 1px
			width: 24px
			top: -6px
			right: 0
		&:after
			content: ''
			background-color: #555
			position: absolute
			height: 1px
			width: 24px
			top: 6px
			right: 0


.site_nav
	font-family: MyriadSetProThin, sans-serif
	font-size: 20px
	line-height: 1.8em
	text-align: right
	transform: translateX(-60px)
	transition: all .25s ease-in-out
	transition-delay: .1s
	li a	
		transition: all .25s ease-in-out
		border-bottom: 1px solid transparent
		&:hover,&:focus,&:active
			border-bottom: 1px solid #ccc
.social_nav
	text-align: right
	.fa
		color: #9e9e9e
		font-size: 24px
		transition: all .25s ease-in-out
	li
		transition: all .25s ease-in-out
		padding: 2px 0
		position: relative
		a
			display: block
			padding: 8px 20px
		span
			position: absolute
			left: 20px
			color: #fff
			top: 12px
		&:hover, &:focus, &:active
			.fa
				color: #fff
	.fb_link
		&:hover, &:focus, &:active
			background-color: #3b5999
	.vk_link
		&:hover, &:focus, &:active
			background-color: #4c75a3
	.ins_link
		&:hover, &:focus, &:active
			background-color: #e4405f
	.you_link
		&:hover, &:focus, &:active
			background-color: #cd201f
	.tw_link
		&:hover, &:focus, &:active
			background-color: #55acee
	.lin_link
		&:hover, &:focus, &:active
			background-color: #0077b5
	.gp_link
		&:hover, &:focus, &:active
			background-color: #dd4b39
@import "media"
