@import "bourbon"
@import "vars"
@import "fonts"

//Custom styles here
body
	background: #fdfdfd
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	overflow-x: hidden
	font-family: MyriadSetProText, sans-serif
	color: #555
nav 
	list-style-type: none
	li a
		color: #555
		&:hover,&:focus
			cursor: pointer
			color: #000
			text-decoration: none
h1,h2,h3,h4,h5,h6
	font-family: MyriadSetProThin, sans-serif
// ----- HEADER ----- // 
header
	background: #fff
	width: 200px
	padding: 50px 0
	height: 100%
	position: fixed
	top: 0
	left: -140px
	overflow: hidden
	box-shadow: 0 0 50px rgba(0,0,0,0.5)
	transition: all .25s ease-in-out
	z-index: 1010	
.logo_sm
	display: block
	background: url("../image/logo-sm.png") no-repeat
	height: 45px
	width: 37px
	position: absolute
	top: 51px
	right: 13px
	transition: all .25s ease-in-out
	transition-delay: .1s
	h1
		+hide-text
.logo_wrapper
	margin-bottom: 50px
	span
		display: block
		height: 45px
		margin-left: 2px
		background:
			image: url("../image/logo-full-sm.png")
			repeat: no-repeat
		transform: translateX(-50px)
		transition: all .25s ease-in-out
		a
			display: block
			width: 88%
			height: 86%
.nav_wrapper
	text-align: left
	margin-bottom: 50px
	.toggle_btn
		height: 25px
		width: 36px
		padding: 6px
		position: absolute
		right: 13px
		cursor: pointer
		transition: all .25s ease-in-out
		transition-delay: .1s
		box-sizing: border-box
		z-index: 1001
		background-color: rgba(255, 204, 0, .65)
		span
			display: block
			position: relative		
			transition: all .25s ease-in-out
			transition-delay: .1s
			background-color: #555
			height: 1px
			width: 100%
			margin-top: 6px
			&:before
				content: ''
				background-color: #555
				position: absolute
				height: 1px
				width: 100%
				top: -6px
			&:after
				content: ''
				background-color: #555
				position: absolute
				height: 1px
				width: 100%
				top: 6px
.site_nav
	font-family: MyriadSetProThin, sans-serif
	font-size: 20px
	line-height: 1.8em
	text-align: right
	transform: translateX(-60px)
	transition: all .25s ease-in-out
	transition-delay: .1s
	li a	
		transition: all .25s ease-in-out
		border-bottom: 1px solid transparent
		&:hover,&:focus,&:active
			border-bottom: 1px solid #ccc
.follow-us
	display: block
	font-size: 18px
	margin-bottom: 14px
	line-height: 1.1em
	font-family: MyriadSetProThin, sans-serif
	font-style: italic
	color: #999
	border-bottom: 1px solid #ccc
	transition: all .25s ease-in-out
	transition-delay: .1s
	width: fit-content
.social_nav_wrapper
	position: absolute
	width: 100%
	bottom: 20px
.social_nav
	text-align: right
	.fa
		color: #9e9e9e
		font-size: 24px
		transition: all .25s ease-in-out
	li
		transition: all .25s ease-in-out
		padding: 2px 0
		position: relative
		a
			display: block
			padding: 8px 20px
		span
			position: absolute
			left: 20px
			color: #fff
			top: 12px
		&:hover, &:focus, &:active
			.fa
				color: #fff
.fb_link
	&:hover, &:focus, &:active
		background-color: #3b5999
.vk_link
	&:hover, &:focus, &:active
		background-color: #4c75a3
.ins_link
	&:hover, &:focus, &:active
		background-color: #e4405f
.you_link
	&:hover, &:focus, &:active
		background-color: #cd201f
.tw_link
	&:hover, &:focus, &:active
		background-color: #55acee
.lin_link
	&:hover, &:focus, &:active
		background-color: #0077b5
.gp_link
	&:hover, &:focus, &:active
		background-color: #dd4b39
.tel_link
	&:hover, &:focus, &:active
		background-color: #0088cc

// ----- MAIN BODY ----- //
.breadcrumb
	margin-top: 40px
	background-color: transparent
	li
		a
			color: #ff9b00
			transition: all .25s ease-in-out
			&:hover,&:focus,&:active
				color: #ff6c00
a
	color: #ff9b00
	font-family: MyriadSetProThin,sans-serif
	transition: all .25s ease-in-out
	&:hover,&:focus,&:active
		color: #ff6c00
		text-decoration: none
.list-group-item
	border: 1px solid #e3e3e3
	&:first-child
		border-top-left-radius: 0
		border-top-right-radius: 0
	&:last-child
		border-bottom-left-radius: 0
		border-bottom-right-radius: 0
	&:hover,&:focus
		border-color: rgba(255, 204, 0, .75)
a.list-group-item, button.list-group-item
	&:hover,&:focus
		background-color: rgba(255, 204, 0, .75)
.panel-default
	border-color: #ffcc00
.panel
	border-radius: 0
legend
	color: #555
	border-bottom: 1px solid #ffcc00
label
	font-weight: 500
.focused
	span
		// box-shadow: 0 0 2px rgba(0,0,0,0.5)
		background-color: #ffcc00
.text-danger
	color: #ff681e
	margin-top: -20px
	margin-bottom: 10px
.has-error .form-control
	border-color: rgba(255, 104, 30, 1)
	&:focus
		border-color: rgba(255, 104, 30, 1)
.btn-primary
	border: none
	border-radius: 0
	font-size: 16px
	position: relative
	color: #ededed
	transition: all .25s ease-in-out
	background-color: #ff6c00
	background: linear-gradient(to top, #ff6c00, #ffbc00)
	box-shadow: 0 0 4px rgba(0,0,0,0.5)
	font-family: MyriadSetProThin, sans-serif
	z-index: 1003
	padding: 8px 20px
	outline: none
	&:before
		content: ''   
		display: block
		height: 100%
		width: 100%
		position: absolute
		background: linear-gradient(to top, #ff6c00, #ffcc00)
		border-radius: inherit
		top: 0
		left: 0
		opacity: 0
		transition: all .15s ease-in-out
		z-index: -100
	&:hover,&:focus,&:active
		text-decoration: none
		color: #fff
		background-color: #ff9b00
		outline: none
		border-color: transparent
		box-shadow: 0 0 2px rgba(0,0,0,0.5)		
		&:before
			opacity: 1
input.btn-primary
	&:hover,&:focus,&:active
		text-decoration: none
		color: #fff
		background: linear-gradient(to top, #ff6c00, #ffcc00)
		box-shadow: 0 0 2px rgba(0,0,0,0.5)
		outline: none
		border-color: transparent
.well
	background-color: #FFF
	border-radius: 0

.get_in_touch_text
	span 
		box-shadow: 0 0 2px rgba(0,0,0,0.5)
.form-control
	box-shadow: none
.get_in_touch
	textarea.form-control
		resize: none
		height: 300px
		box-shadow: 0 0 2px rgba(0,0,0,0.5)
		&:focus
			box-shadow: 0 0 1px rgba(0,0,0,0.5)			
	.form-control
		margin-bottom: 30px
		border:
				color: rgba(255, 204, 0, 1)
				radius: 0
		box-shadow: none
		background: rgba(255, 204, 0, 1)
		color: #fff
		font-size: 24px
		font-family: MyriadSetProThin, sans-serif
		transition: all .25s ease-in-out
		box-shadow: 0 0 2px rgba(0,0,0,0.5)
		&::placeholder
			color: #fff
		&:focus
			background: rgba(255, 204, 0, .75)
			// border-color: rgba(255, 204, 0, .75)
	input
		height: 50px
	.btn-primary
		border: none
		border-radius: 0
		background: rgba(255, 204, 0, .85)
		font-size: 24px
		font-family: MyriadSetProThin, sans-serif
		padding: 7px 20px
		width: 100%
		transition: all .25s ease-in-out
		outline: none
		color: #fff
		&:hover,&:focus
			background: rgba(255, 204, 0, 1)
			box-shadow: 0 0 1px rgba(0,0,0,0.5)
			outline: none
			// box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 0, .55)
	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover
		background: rgba(255, 204, 0, 1)

.form-control
	border:
		color: rgba(255, 204, 0, .55)
		radius: 0
	&:focus
		border-color: rgba(255, 204, 0, 1)
		box-shadow: 0 0 1px rgba(0,0,0,0.5)
		// box-shadow: inset 0 0 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 0, .55)


.main-container
	width: 100vw
	color: #fff
	padding:
		right: 0
		left: 60px
	h1,h2,h3
		font-family: MyriadSetProSemiBold, sans-serif
.row_wrapper
	overflow: hidden
	padding:
		bottom: 60px
		top: 40px
		right: 20px
		left: 20px
	.row
		max-width: 1170px
		margin: 20px auto
.def_btn
	display: block
	padding: 8px 20px
	text-align: center
	border-radius: 25px
	font-size: 18px
	position: relative
	color: #ededed
	transition: all .25s ease-in-out
	background-color: #ae44c8
	background: linear-gradient(to top, #ae44c8, #8657db)
	box-shadow: 0 0 4px rgba(0,0,0,0.5)
	font-family: MyriadSetProThin, sans-serif
	z-index: 1003
	&:before
		content: ''   
		display: block
		height: 100%
		width: 100%
		position: absolute
		background: linear-gradient(to top, #e060ff, #996cea)
		border-radius: inherit
		top: 0
		left: 0
		opacity: 0
		transition: all .25s ease-in-out
		z-index: -100
	&:hover,&:focus
		text-decoration: none
		color: #fff
		box-shadow: 0 0 2px rgba(0,0,0,0.5)
		background-color: #e060ff
		outline: none
		&:before
			opacity: 1
.big_btn
	display: block
	padding: 10px 30px
	font-size: 28px
	border-radius: 35px
.cta_text
	font-size: 22px
	line-height: 1.1
	margin-bottom: 20px
	sub
		font-size: 150%
.num
	font-family: MyriadProBold, sans-serif
	font-size: 48px
	font-weight: bold
.focused
	font-size: 32px
	margin-bottom: 40px
	span, small, mark
		color: #fff
	span
		padding: 8px 10px
	mark
		font-size: 125%
		padding: 0
	small
		font-size: 75%
// --------- FIRST SECTION --------- //
.landing
	background:
		color: #7cbcb5
		// image: url("../image/landing_bg.jpg")
		repeat: no-repeat
		size: cover
		position: bottom
	height: 70vh
	min-height: 680px
	padding-top: 21px
	.nav
		margin: 10px
	h2
		text-align: right
	span, small, mark
		background: #ffcc00 // --- yellow
.iphone_x img 
	width: 85%
	margin: auto
.big_logo
	margin-top: 100px

// --------- SECOND SECTION --------- //
.about_us
	height: fit-content
	background:
		color: #f79885
		// image: url("../image/about_us_bg.jpg")
		repeat: no-repeat
		size: cover
	h4
		font-size: 22px
		font-family: MyriadSetProSemiBold, sans-serif
	.focused
		z-index: 2
		position: relative
		span, small, mark
			background-color: #3498db // --- blue
	.big_btn
		margin: 0 auto
.ipad_wrapper
	position: relative
	.ipad_image
		position: absolute
		right: 5%
		top: -15%

// --------- THIRD SECTION --------- //	
.for_whom
	height: fit-content
	background:
		color: #d6e2ce
		// image: url("../image/for_whom_bg.jpg")
		repeat: no-repeat
		size: cover

	.focused
		span
			background-color: rgba(26, 188, 156, .75) // --- green
		small, mark
			background-color: transparent
	small
		color: #ededed
	sup
		padding: 10px
		margin-right: -10px
	sub
		padding: 10px
		margin-left: -10px
	h3
		margin-top: 0
		font-size: 36px
		font-family: MyriadProBold, sans-serif
	p
		padding: 0 50px
		text-align: justify


// --------- FOURTH SECTION --------- //
.testimonials
	background:
		color: #fcecc9
		// image: url("../image/testimonials_bg.jpg")
		repeat: no-repeat
		size: cover
		position: center
	min-height: 500px
	position: relative
	.focused
		span
			background-color: rgba(26, 188, 156, .75)
		mark
			background-color: transparent
	.owl-carousel
		background-color: transparent
	.owl-theme .owl-dots .owl-dot
		span
			background: rgba(26, 188, 156, .35)
			width: 13px
			height: 13px
			transition: all .25s ease-in-out
			margin: 5px 5px
			&:hover
				background: rgba(26, 188, 156, 1)
	.owl-theme .owl-dots .owl-dot.active span
		background: rgba(26, 188, 156, 1)
.review_unit
	background-color: rgba(26, 188, 156, .65)
	position: relative
.review_face
	position: absolute
	top: 50%
	margin-top: -75px
	left: 30px
	img
		max-width: 150px
		border: 3px solid #fff
		border-radius: 50%
.review_content
	font-size: 18px
	line-height: 26px
	min-height: 230px
	padding: 30px
	margin-left: 180px
	strong
		display: block
		text-transform: uppercase
		font-family: MyriadSetProSemiBold, sans-serif
		text-indent: 20px
	em 
		padding-left: 20px
		font-family: MyriadSetProThin, sans-serif
	p
		font-family: MyriadSetProThin, sans-serif
		margin-top: 10px
		text-indent: 20px

// --------- FIFTH SECTION --------- //	
.contact_us
	background:
		color: #b8959b
		// image: url("../image/footer_bg.jpg")
		repeat: no-repeat
		size: cover
	padding-bottom: 20px
	.focused
		span
			background: rgba(255, 204, 0, .85)
	.form-group
		width: 49%
		float: left
		margin-right: 2%
		textarea
			min-height: 189px
			resize: none
	input
		width: 49%
		margin-bottom: 20px
		height: 50px
	.form-control
		border:
				color: rgba(255, 204, 0, .55)
				radius: 0
		background: rgba(255, 204, 0, .85)
		color: #fff
		font-size: 24px
		font-family: MyriadSetProThin, sans-serif
		transition: all .25s ease-in-out
		&::placeholder
			color: #fff
		&:focus
			border-color: rgba(255, 204, 0, 1)
			background: rgba(255, 204, 0, 1)
			box-shadow: 0 0 1px rgba(0,0,0,0.5)
	.btn-primary
		border: none
		border-radius: 0
		background: rgba(255, 204, 0, .85)
		font-size: 24px
		font-family: MyriadSetProThin, sans-serif
		padding: 7px 20px
		width: 49%
		transition: all .25s ease-in-out
		outline: none
		box-shadow: none
		color: #fff
		&:hover,&:focus,&:active
			background: rgba(255, 204, 0, 1)
			outline: none
			box-shadow: 0 0 1px rgba(0,0,0,0.5)
			&:before
				opacity: 0

	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover
		background: rgba(255, 204, 0, 1)
		outline: none
footer
	margin-top: 100px
	p 
		font-family: MyriadSetProThin, sans-serif
	li 
		list-style: none
		font-family: MyriadSetProThin, sans-serif
		a
			color: #9e9e9e		
			transition: all .25s ease-in-out
			&:hover,&:active,&:focus
				color: #ff9b00
				text-decoration: none
	ul 
		padding-left: 0
	.footer_logo
		display: block		
		float: left
		width: 50%
		max-width: 190px
		margin-right: 10px
		height: 42px
		background:
			image: url("../image/strokes-sm-gr.png")
			repeat: no-repeat
			size: contain
	.payment_methods
		clear: both
	.methods_wrapper
		width: 50%
		max-width: 190px
		float: left
		text-align: center
		margin-right: 10px
		height: 60px
		img
			display: inline-block
			padding: 0 7px
	.first_column
		p
			font-size: 14px
			color: #9e9e9e	
	.second_column
		border-left: 1px solid rgba(255, 204, 0, 1)
.locco_wrapper
	margin:
		top: 10px
		bottom: 40px
.footer_contact
	margin:
		left: 200px
		bottom: 0
.footer-title
	font-size: 110%
	border-bottom: 1px solid rgba(255, 204, 0, 1)
	display: inline-block
	margin-bottom: 10px
	color: #ff9b00
.first-title
	margin-bottom: 3px
.copyright
	color: #9e9e9e
	font-size: 14px
	margin-top: 40px
.footer-email
	font-size: 200%
	a
		&:hover
			text-decoration: none
			color: #ff9b00
.contact_us
	footer
		li
			a
				color: #fff
				&:hover,&:active,&:focus
					color: #ff9b00
		.footer-email
			a
				&:hover
					color: #ff9b00
		.first_column
			p
				color: #fff
		.footer_logo
			background-image: url("../image/strokes-sm.png")
		.copyright
			color: #fff
.scroll_btn
	display: block
	background-color: rgba(255, 204, 0, .65)
	text-align: center
	position: fixed
	bottom: -10%
	box-shadow: 0 0 2px rgba(0,0,0,0.5)
	right: 0
	color: #ededed
	transition: all .5s ease-in-out
	z-index: 1005
	opacity: 0
	cursor: pointer
	width: 45px
	height: 45px
	&:after
		content: ''
		width: 30%
		height: 30%
		border:
			top: 1px solid #555
			right: 1px solid #555
		display: block
		position: relative
		top: 45%
		margin: auto
		transform: rotate(-45deg)
		transition: border-color .25s ease-in-out
	&:hover
		background-color: rgba(255, 204, 0, 1)
		box-shadow: 0 0 1px rgba(0,0,0,0.5)
.active_scroll
	bottom: 23px
	opacity: 1

// ----- BLOG PAGES ----- //

.image-additional
	max-width: 100px
	max-height: 100px
.article_bg
	height: 70vh
	width: 100vw
	position: absolute
	z-index: -100
	background:
		size: cover
		position: center
	top: 0
	left: 0
	&:after
		display: block
		content: ''
		width: 100%
		height: 100%
		background: linear-gradient(to right, rgba(124,188,181,0.9) 0%,rgba(133,201,196,0.85) 34%,rgba(141,214,210,0.7) 68%,rgba(149,226,224,0.3) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67cbcb5', endColorstr='#0095e2e0',GradientType=1 )
.preview_text
	margin-top: 15vh
	height: 65vh
	color: #fff
	h1
		font:
			family: MyriadProBold, sans-serif
			size: 48px
	p
		background-color: #ffcc00
		font-family: MyriadSetProSemiBold, sans-serif
		font-style: italic
		font-size: 22px
		padding: 10px
		line-height: 1.2;
		text-align: justify
		width: 65%
.article_itself
	text-align: justify


// ----- MAIN BLOG PAGE ----- //

.bloggo
	margin-bottom: 60px
	border: 1px solid #eee
	.image
		width: 100%
		height: 200px
		a
			display: block
			background:
				size: cover
				position: center
			height: 100%
			width: 100%
	.caption
		height: 200px
		overflow: hidden
		margin-bottom: 10px
		position: relative
		padding: 20px 15px 30px
		&:after
			display: block
			content: ""
			height: 40%
			width: 100%
			position: absolute
			bottom: 0
			left: 0
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 30%, rgba(255,255,255, .95) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
	.button-group
		padding: 10px 15px 30px


@import "media"
